:root {
    

    --background: url(../Pictures/build-wallpaper.jpg);
   --outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    background-position-x: -500px;
    background-position-y: 150px;
    background-image: var(--background);
    background-size: 100%;
    background-size: 5500px;
    background-repeat: no-repeat;
}

section {
    display: flex;
    position: relative;
    width: 60%;
    left: 20%;
    margin-top: 10px;
}

.headerwrap{
    filter: drop-shadow(0px 10px 5px black);
}

header {
    background-image: url(../Pictures/background.jpg);
    height: 320px;
    width: 100%;
    background-size: 100%;
    background-position-y: -20px;
    clip-path: polygon(0% 95%, 20% 95%, 20% 100%, 80% 100%, 80% 95%, 100% 95%, 100% 0%, 0% 0%);
    z-index: 100;
}

h1 {
    margin: 0;
    padding-left: 5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 65px;
    position: absolute;
    top: 242px;
    z-index: 4;
    text-shadow: var(--outline);
    left: 20%;
    padding-left: 20px;
}

h2 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: -2px 3px 5px black;
    letter-spacing: 1px;
}

#work {
    margin-top: 50px;
    padding-top: 50px;
}

#topbar {
    margin-top: 30px;
    background-image: linear-gradient(to right, rgb(105, 83, 121, .9)50%, rgba(105,83,121,.4)100%);
    box-shadow: -2px 3px 3px black;
    padding-left: 20px;
    border-top-right-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 280px;
    margin-left: -20px;
    border-left: rgb(81, 0, 128) solid 5px;
}

#topbar2 {
    display:flex;
    justify-content: flex-end;
    background-image: linear-gradient(to left, rgb(105, 83, 121, .9)50%, rgba(105,83,121,.4)100%);
    box-shadow: -2px 3px 3px black;
    border-top-left-radius: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 280px;
    margin-right: -20px;
    margin-top: 100px;
    margin-left: 75%;
    border-right: rgb(81, 0, 128) solid 5px;
}

.aboutme {
    background-image: linear-gradient(to left, rgb(105, 83, 121, .2)0%, rgba(237,131,92,1)
    90%);    
    box-shadow: -2px 2px 3px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left:  rgba(237,131,92,1) solid 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.aboutme p {
    width: 80%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    height: 100%;
    text-align: justify;
    text-shadow: .5px 0px 5px rgb(239, 242, 255);
}

.aboutme img {
    margin: 10px;
    width: 280px;
    height:100%;
    box-shadow: 0px 1px 10px black;
    border: black solid 10px;
}

.box {
    display: flex;
    width: 50%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 400px;
}

.work{    
    background-image: linear-gradient(to right, rgb(105, 83, 121, .2)0%, rgba(237,131,92,1)
    90%);    
    box-shadow: 2px 3px 3px black;
    border-top-left-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right:  rgba(237,131,92,1) solid 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contact {
    background-image: linear-gradient(to left, rgb(105, 83, 121, .2)0%, rgb(105, 83, 121, .4)
    90%);    
    box-shadow: -2px 2px 3px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left:  rgb(92, 179, 237) solid 5px;
    width: 100%;
    height: 100%;   
}
.contact p {
    font-size: 30px;
    margin-left: 20px;
    padding: 5px;
}
.contact img { 
    padding-right: 30px;
    height: 30px;
    width: 30px;
}

.navbar {
    position: fixed;
    top: 5px;
    left: 72%;
    background: none;
}
.button {
    position: relative;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    size: 80px;
    font-family: monospace;
    font-size: 15px;
    background: none;
    border: none;
    border-right: white solid 1px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: -2px 2px 5px black;
    
}

.card {
    display: flex;
    margin: 10px;
    border: rgb(105, 83, 121, .9) solid 5px;
    height: 200px;
    width: 44%;
    box-shadow: 0px 5px 1px rgb(105,83,121) ;
}

.card p {
    color: white;
    padding: 5px;
    border-right: white solid 2px;
    border-bottom: white solid 2px;
    border-top: white solid 2px;
    font-size: 20px;
    background-color: rgb(105, 83, 121, .9);
    margin-top: 10%;
    position: absolute;
    padding-left: 30px;
    padding-right: 20px;

}

.card img{
    width: fit-content;
    height: 100%;
    border: white solid 2px;
    filter: grayscale(1);
    min-width: 100px;
}

.card img:hover {
    filter: grayscale(0)
}

.cardbigger {
    display: flex;
    margin: 10px;
    border: rgb(105, 83, 121, .9) solid 10px;
    height: 400px;
    width: 90%;
    box-shadow: 0px 5px 1px rgb(105,83,121) ;
}


.cardbigger p {
    color: white;
    padding: 5px;
    padding-left: 30px;
    padding-right: 20px;
    border-right: white solid 2px;
    border-bottom: white solid 2px;
    border-top: white solid 2px;
    font-size: 40px;
    background-color: rgb(105, 83, 121, .9);
    margin-top: 25%;
    position: absolute;
}

.cardbigger img {
    width: fit-content;
    height: 100%;
    width: 100%;
    border:white solid 2px;
    filter: grayscale(1);
}

.cardbigger img:hover {
    filter: grayscale(0)
}


p{
    color:white;
    font-size: 40px;
}

#final {
    margin-top: 300px;
}
footer {
    margin-top: 100px;
    height: 50px;
    width: 100%;
    background-color: rgb(6, 55, 95, .2);
    text-align: center;
    padding-top: 100px;
    color: white;
}

@media screen and (max-width: 1280px) {
    h1 {
      top: 230px;
      left: 5px;
    }

@media screen and (max-width: 992px) {
    h1 {
      top: 230px;
    }

    #topbar {
        width: 50%
    }
  }

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
        left: 10px;
        top: 260px
    }
}
}